@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

$font-stack-gilroy-bl: 'Gilroy-ExtraBold', serif;

.topics-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2.5rem 1rem 2.5rem;
  margin: 0rem;
  width: 18vw;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__holder {
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.3rem;
    background: #1e1e1e;
    border-radius: 50%;
  }

  &__title {
    font: 100% $font-stack-gilroy-bl;
    font-size: 1rem;
    letter-spacing: -0.349px;
    margin: 0.5rem;
  }

  // &__fav:hover {
  // }
}
