@font-face {
  font-family: 'Gilroy-Light';
  src: url(../fonts/Gilroy-Light.otf)
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url(../fonts/Gilroy-ExtraBold.otf)
}

@import url(https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap);

@font-face {
  font-family: "Corben", serif;
  src: url(https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap);
}

// @mixin worksans-font($font-family: 'WorkSans-Regular', $weight: 100, $font-size: 16px) {
//   font-family: $font-family;
//   font-weight: $weight;
//   font-size: $font-size;
// }

// .faqs-text {
//   @include worksans-font($font-family: 'WorkSans-Bold', $weight: 600, $font-size: 50px);
// }

// .question-text {
//   @include worksans-font($font-family: 'WorkSans-SemiBold', $weight: 400, $font-size: 20px);
// }

// .answer-text {
//   @include worksans-font;
// }