@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

$font-stack-corban: 'Corben', serif;
$font-stack-gilroy-lt: 'Gilroy-Light', serif;
$font-stack-gilroy-bl: 'Gilroy-ExtraBold', serif;

.answers {
  font: 100% $font-stack-gilroy-lt;
  color: $s-black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__form-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  &__form {
    border: #3e3e3e solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 25vh;
    margin: 15px;
    width: 100vw;
  }
  
  &__input {
    border: none;
    color: #3f3f3f;
    font: 100% $font-stack-gilroy-lt;
    font-size: 1.3rem;
    height: 25vh;
    margin: 10px;
  }

  &__input::placeholder {  
    color: #9b9b9b;
    font-size: 1.3rem; 
  }

  *:focus {
    outline: none;
}

  &__buttons-container {
    display: flex;
    justify-content: flex-end;
  }

  &__button-cancel,
  &__button-post {
    background: #FFF;
    border: 2px solid #828282;
    border-radius: 10px;
    font: 100% $font-stack-gilroy-bl;
    font-size: 1.3rem;
    height: 7vh;
    margin: 10px;
    width: 11%;
  }

  &__button-post {
    background-color: #FFD22F
  }

  &__button-cancel:hover {
    background-color:#ce0606;
    cursor: pointer;
  }

  &__button-post:hover {
    background-color:#a58a27;
    cursor: pointer;
  }

  &__container {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1%;
  }

  &__user-text {
    font: 100% $font-stack-gilroy-bl;
    margin: 5px;
  }

  &__content {
    width: 100%;
  }

  &__content-text {
    margin: 0 4% 2% 4.7%;
  }

  &__actions {
    display: flex;
    margin: 0 0 3% 0;
    border-bottom: #cacaca solid 1px;
    font-size: .9rem;
  }

  &__up-down-container{
    display: flex;
    border: #3e3e3e solid 1px;
    border-radius: 15px;
    height: 6vh;
    justify-content: center;
    width: 12%;
    margin: 0 1% 2% 2%;
  }

  &__icon-container{
    display: flex;
    border: #3e3e3e solid 1px;
    border-radius: 15px;
    height: 6vh;
    justify-content: center;
    width: 6%;
    margin: 0 1% 2% 0;
  }

  &__actions-container {
    align-items: center;
    display: flex;
    margin: 0 5px 0 5px;
  }

  &__upvote,
  &__downvote,
  &__comment,
  &__share {
    height: 4vh;
    margin: 0 1% 0 1%;
  }

  &__downvote {
    border-left: #3e3e3e solid 1px;
    padding-left: 5px;
  }

  &__value {
    margin-left: 1.5%;
  }
}

.post {
  background-color: #FFD22F;
}