@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

.post-modal--overlay {
    position: fixed;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.question-posted__popUp {
display: flex;
width: 379px;
padding: 0.7rem;
justify-content: center;
align-items: center;
gap: 26px;
border-radius: 8px;
border: 4px solid #52C059;
background: #FFF;

&--icon {
  border-radius: 50%;
  background: #52C059;
}
&--img {
  background: transparent;
  border: 1px solid #000000;
}
}
.post-modal__text {
  @include forum-textFormat(1.7rem);
}