@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

.sidebar {
  display: none;

  @media (min-width: $tablet-breakpoint) {
    background: #FFF;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
  }
}
