@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

// $font-stack-corban: 'Corben', serif;
$font-stack-gilroy-lt: 'Gilroy-Light', serif;
$font-stack-gilroy-bl: 'Gilroy-ExtraBold', serif;

.home {
    display: flex;
    flex-direction: row;
    font: 100% $font-stack-gilroy-bl;
    justify-content: space-between;
    background: #BFE5FF;
}
.home-body {
    width: 75%;
    padding: 2.5rem 1.5rem;
    background: #BFE5FF;
}