@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

.question-card {
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  background: #FFF;
  
  &__container {
    padding: 15px;
    }

  &__user-details {
    width: 40%;
    display: flex;
    align-items: center;
  }

  &__avatar-container {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
  }

  &__avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &__text {
    margin-right: 10px;
  }

  &__actions {
    width: 40%;
    display: flex;
  }

  &__up-down-container {
    height: 45px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: #3e3e3e solid 1px;
    border-radius: 15px;
    margin-right: 15px;
  }

  &__divider {
    height: 35px;
  }

  &__button-container {
    height: 45px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #3e3e3e solid 1px;
    border-radius: 15px;
    margin-right: 15px;
  }

  &__button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    background-color: #FFF;
    padding: 0;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__upvote,
  &__downvote,
  &__comment,
  &__share {
    height: 30px;
    margin-left: -10px;
  }

  &__value {
    margin-right: -10px;
  }
}